body{
	background: #232323;
	margin: 0px;
	font-family: "Avenir";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin:1.66%;
	transition: background 0.6s;
	border-radius: 100%;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}
h1{
	color: white;
	background: steelblue;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;

}
#stripe{
	background: white;
	height: 30px;
	text-align: center;
}
.selected{
	background: steelblue;
	color: white;
}
#colorDisplay{
	font-size: 200%;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	color: steelblue;
	font-weight: 700;
	height: 100%;
	letter-spacing: 1px;
	transition: all 0.3s;

}
button:hover{
	background: steelblue;
	color: white;
}
#message{
	display:inline-block;
	width:20%;
}